.form-control {
    background-color: #F2F3F6;
    border: 1px solid #F2F3F6;
    
    &:focus, &:active, &:hover {
        background-color: #F2F3F6;
        border: 1px solid #F2F3F6;
    }
}

.form-label {
    font-size: 16px;
    color: #6C7174;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

.btn {
	font-size: 20;
	min-width: 90px;
	min-height: 45px;
	border-radius: 3px;
	font-family: $lato-bold;
	color: #fff;
	border-color: #C7222A;
    background-color: #C7222A!important;
    outline: 0;

	&:hover,&:focus {
		color: #fff;
		background-color: #C7222A;
        border-color: #C7222A;
        outline: 0;
    }
    &::active{
        color: #fff;
		background-color: #C7222A!important;
        border-color: #C7222A!important;
        outline: 0;
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.15);
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.file-uploader-container{
    position: relative;
}

.csv-input {
    color: transparent;
    position: absolute;
    left: -185px;
    top: -22px;
    outline: 0;
    // padding: 20px;
}
.csv-input::-webkit-file-upload-button {
    visibility: hidden;
}
.csv-input::before {
    content: 'Select CSV some files';
    color: #fff;
    display: inline-block;
    background-color: #C7222A;
    border: 1px solid #C7222A;
    border-radius: 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #C7222A;
    padding: 10px;
    font-size: 16px
}
.csv-input:hover::before {
    border-color: black
  }
  .csv-input:active {
    outline: 0;
}
.csv-input:active::before {
    background-color: #C7222A;
}
